body {
  margin: 0;
  padding: 20px;
  background: #f5f5f5;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  max-width: 25vw;
  margin: 10px;
  border: 5px solid #000;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
  object-fit: cover;
}

