.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main.cards img {
	max-width: 25vw;
width: 25vw;
  margin: 10px;
  border: 3px solid #000;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 8px 0px;
  object-fit: cover;
}
